params {
    

}

profile {

    'standard' {
         params {
            config_profile_description = 'Production workflow'
            config_profile_name = 'Standard profile'
        }
    }

    'test' {
        params {
            config_profile_description = 'Minimal test dataset to check pipeline function'
            config_profile_name = 'Test profile'
        }
    }
    
}

includeConfig 'configs/environment.config'

docker {
    enabled = true
}
   

