params {
    reads               = "$baseDir/data/reads/*_ercc_{1,2}.fq.gz"
    outmultiqc          = "$baseDir/results/multiqc"
    outdirtest          = "$baseDir/results/TEST"
    outdirstan          = "$baseDir/results/STANDARD" 
    reference_genome    = "$baseDir/data/reference_genome/test.ref.ercc.fa"
    ref_genome_test     = "$baseDir/data/reference_genome/test.ref.fa"
    bwa                 = "$baseDir/results/TEST/BWA/"
    bwasam              = "$baseDir/results/TEST/BWASam/"

}

profile {

    'standard' {

         params {
            config_profile_description = 'Production workflow'
            config_profile_name = 'Standard profile'
            
            // FI
            reads = params.reads
            reference_genome = params.reference_genome
            // FO
            outdir = params.outdirstan
        }
    }

    'test' {

        params {
            config_profile_description = 'Minimal test dataset to check pipeline function'
            config_profile_name = 'Test profile'

            // FI
            reads = params.reads
            genome = 'test_genome'
            genomes_base = params.ref_genome_test
            
            // FO
            outdir = params.outdirtest
        }
    }
}

docker {
    enabled = true
}

includeConfig 'configs/environment.config'
