profile {
    'standard' {
         params {
            config_profile_description = 'Workflow in production/application(?)'
            config_profile_name = 'Standard profile'

            // Resources
            max_cpus = 8
            max_memory = 12.GB
            max_time = 72.h

            // Input data
            input = "$baseDir/data/reads/*_ercc_{1,2}.fq.gz"

            // Reference genome
            igenomes_ignore = true
            genome = 'ref_genome?'
            genomes_base = "$baseDir/data/reference_genome/test.ref.ercc.fa"
            //snpeff_db         = 'WBcel235.86'
            //species           = 'caenorhabditis_elegans'
            //vep_cache_version = '99'

            // Ignore `--input` as otherwise the parameter validation will throw an error
            schema_ignore_params = 'genomes,input'
            }
    }

    'test' {
        params {
            config_profile_description = 'Minimal test dataset to check pipeline function'
            config_profile_name = 'Test profile'

            // Limit resources so that this can run on GitHub Actions
            max_cpus = 2
            max_memory = 6.GB
            max_time = 48.h

            // Input data
            input = "$baseDir/data/reads/*rna_{1,2}.fq.gz"

            // Small reference genome
            igenomes_ignore = true
            genome = 'ref_genome?'
            genomes_base = "$baseDir/data/reference_genome/test.ref.fa"
            //snpeff_db         = 'WBcel235.86'
            //species           = 'caenorhabditis_elegans'
            //vep_cache_version = '99'

            // Ignore `--input` as otherwise the parameter validation will throw an error
            schema_ignore_params = 'genomes,input'
            }
    }
}

process {
    withName:FASTQC {
        container = 'fastqc'
        cpus = 2
        memory = 1.GB
        queue = 'default'

    }

    withName:SAMTOOLS {
        container = 'samtools'
        cpus = 2
        memory = 1.GB
    }

   // withName:BWAMEM2 {
     //   container = 'bwamem2'
        // cpus = 2
        // memory = 3.GB
        //params
    //}
}

docker {
    enabled = true
}