params {
    
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Testing FIFO
    reads               = "$baseDir../../data/reads/*_ercc_{1,2}.fq.gz"
    reference_genome    = "$baseDir../../data/reference_genome/test.ref.ercc.fa"
    bwa                 = "$baseDir/test_results/BWA/"
    bwasam              = "$baseDir/test_results/BWASAM/"

    input = "$baseDir../../data/reads/*_ercc_{1,2}.fq.gz"

    // Reference genome
    genome = 'ref_genome'
    genomes_base = "$baseDir/../../data/reference_genome/test.ref.ercc.fa"
}

process {
    withName:BWA {
        container = 'bwa:latest'
        publishDir = [
            path: { "${params.bwasam}" },
        ]
    }
    
    withName:BWAMEM {
        container = 'bwa:latest'
        publishDir = [
            path: { "${params.bwa}}" },
        ]
    }

    withName:BWAMEM_SAMTOOLS_SORT {
        container = 'bwa-sam:latest'
        publishDir = [
            path: {"${params.bwasam}"},
        ]
    }

}

docker {
    enabled = true
}
   

     