params {
    
    // Testing FIFO
    rootDir             = "${baseDir}/../.."
    publish_dir_mode    = "copy"

    // Standard FIFO
    outdir              = "$rootDir/results/TEST/Manta/"
    fasta               = "$rootDir/data/reference_genome/test.fa"
    fai                 = "$rootDir/data/reference_genome/test.fa.fai"
    
    // sample params
    // bambai              = "$rootDir/results/TEST/GATK/*germline*_bqsr{.bam,.bam.bai}"
    bambai              = "$rootDir/data/novak-bam-bai/*{.bam,.bam.bai}"

    // Germline/tumor setup 
    with_tumor          = false 
    bambai_tumor        = "$rootDir/results/TEST/GATK/*germline_bqsr{.bam,.bam.bai}"


}

process {
   
    withName: Manta {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'mantasimple:v1.6.0'
    }

    withLabel: powerup {
        cpus = 8
        memory = 8.GB
    }
}

