params {
    // Testing FIFO

    rootDir             = "${baseDir}/../.."
    publish_dir_mode    = "copy"

    // Standard FIFO

    outdir              = "$rootDir/results/TEST/VariantCalling/"
    fasta               = "$rootDir/data/reference_genome/test.fa"
    fai                 = "$rootDir/data/reference_genome/test.fa.fai"
    dict                = "$rootDir/results/TEST/BWASam/test.dict"

    
    // IndexBam params
    // testing, not included in main config.
    vcf                 = "$rootDir/results/TEST/Haplotyper/*.vcf"
    
}

process {
    withName: MantaSingle {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'manta:v1.6.0'
    }
    withName: Manta {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'manta:v1.6.0'
    }
}

