params {
    // Testing FIFO

    rootDir         = "${baseDir}/../.."
    publish_dir_mode    = "copy"

    outdir              = "$rootDir/results/TEST/Haplotyper/"
    fasta               = "$rootDir/data/reference_genome/test.fa"
    fai                 = "$rootDir/data/reference_genome/test.fa.fai"
    dict                = "$rootDir/results/TEST/GATK/test.dict"
    bai                 = "$rootDir/results/TEST/GATK/*.bqsr.bam.bai"
    
    // Params for the Read Group Line to be added to bam file; taken from nf-core DeepVariant.
    rgid                = 4
    rglb                = "lib1"
    rgpl                = "illumina"
    rgpu                = "unit1"
    rgsm                = 20
}

process {
    withName: HaplotypeCaller {
        container = 'gatk:latest'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
    }
}