params {
    // Testing FIFO

    baseTestDir         = "${baseDir}/../.."
    publish_dir_mode    = "copy"

    // Standard FIFO

    outdir              = "$baseTestDir/results/TEST/Haplotyper/"
    fasta               = "$baseTestDir/data/reference_genome/test.fa"
    fai                 = "$baseTestDir/data/reference_genome/test.fa.fai"
    dict                = "$baseTestDir/results/TEST/BWASam/test.dict"
    intervals           = false
    
    // IndexBam params
    // testing, not included in main config.
    bambqsr             = "$baseTestDir/results/TEST/BWASam/*_bqsr.bam"
    
    // Params for the Read Group Line to be added to bam file; taken from nf-core DeepVariant.
    rgid                = 4
    rglb                = "lib1"
    rgpl                = "illumina"
    rgpu                = "unit1"
    rgsm                = 20
}

process {
    withName: ScatterIntervals {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'gatk:latest'
    }
    withName: MakeIntervals {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'gatk:latest'
    }
    withName: SkipIntervals {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'gatk:latest'
    }
    withName: IndexBam {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'samtools:latest'
    }
    withName: HaplotypeCaller {
       publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode
        ]
        container = 'gatk:latest'
    }
}