params {
    rootDir             = "${baseDir}/../.."
    outdir              = "$rootDir/server_test/TMBler/"
    publish_dir_mode    = "copy"
    
    // Testing FIFO
    vcfs                = "$rootDir/results/TEST/*/*somatic*.vcf"
    genome              = "hg19"
    port                = 8787
    
    vcfs_collections    = null
}

process {
    withLabel: tmbler_module {
        container = 'st:latest'
    }
}
docker.enable=true
