params {
    rootDir             = "${baseDir}/../.."
    outdir              = "$rootDir/results/TEST/TMBler/"
    publish_dir_mode    = "copy"
    
    // Testing FIFO
    vcfs                = "$rootDir/results/TEST/*/*somatic*.vcf"
    genome              = "hg19"
    port                = 8787
    gene_panels         = "ExamplePanel_GeneIDs.txt"
    
    vcfs_collections    = null
}

process {
    withLabel: tmbler_module {
        container = 'aguida/tmbler:latest'
    }
}
docker.enable=true
