params {
    // Testing FIFO
    genome              = "hg19"
    publish_dir_mode    = "copy"
    rootDir             = "${baseDir}/../.."
    vcfs             = "$rootDir/results/TEST/Haplotyper/*.vcf"
    outdir              = "$rootDir/results/TEST/TMBler/"
}

process {
    withLabel: tmbler_module {
        container = 'aguida/tmbler:latest'
        publishDir = [ 
            path: params.outdir, 
            mode: params.publish_dir_mode 
        ]  
    }
}

docker {
    enabled = true
    //runOptions = "--name tmbler \
    //              --rm \
    //              -e USER=\$(whoami) \
    //              -e PASSWORD=helloworld \
    //              -e USERID=\$UID"
}