params {
    rootDir         = "${baseDir}/../.."
    outdir          = "$rootDir/results/TEST/"
    reads           = "$rootDir/data/reads/wgs-reads/*_{1,2}.fq.gz"
}
process {
    withName: FASTQC {
        container = 'fastqc:v0.11.9'
        cpus = 2
        memory = 1.GB
        queue = 'default'
        publishDir = [
            path: { "${params.outdir}/FastQC" },
        ]
    }
}