params {
    rootDir         = "${baseDir}/../.."

    outdir          = "$rootDir/results/TEST/FastQC"
    test_data       = "$rootDir/data/reads/*{1,2}.fq.gz"
    // single_end   = false
}

process {
    withName:FASTQC {
            container = 'fastqc:v0.11.9'
            cpus = 2
            memory = 1.GB
            queue = 'default'
            publishDir = [
                path: { "${params.outdir}" },
            ]
        }
    }