params {
    outdir         =   ".moduleTest/"
    test_data      =   "$baseTestDir/data/reads/*_dna_ercc_{1,2}.fq.gz"
    // single_end  =   false
}

process {
    withName:FASTQC {
            container = 'fastqc'
            cpus = 2
            memory = 1.GB
            queue = 'default'
            publishDir = [
                path: { "${params.outdir}" },
            ]
        }
    }