params {
    // Testing FIFO
    
    publish_dir_mode    = "copy"
    rootDir             = "${baseDir}/../.."
    outdir              = "$rootDir/results/TEST/SNPeff/"
   
    vcf                 = "$rootDir/results/TEST/Haplotyper/*.vcf"
    // vcf                 = "$rootDir/results/TEST/Haplotyper/*{.vcf,.vcf.idx}"
    // Standard FIFO

    snpeff_db       = "GRCh38.86"
    snpeff_cache    = null
   
   
}

process {
    withName: SNPEFF {
        container = 'snpeff:v4.3'
        publishDir = [ 
            path: params.outdir, 
            mode: params.publish_dir_mode 
        ]  
    }
}

docker.enabled=true