params {
    // Testing FIFO
    
    publish_dir_mode    = "copy"
    rootDir             = "${baseDir}/../.."
    outdir              = "$rootDir/results/TEST/"
   
    vcf                 = "$rootDir/results/TEST/Haplotyper/*.vcf"
   
    // snpeff vep does not need/autoreads indices 
    // vcf                 = "$rootDir/results/TEST/*/*{.vcf,.vcf.idx}"

    snpeff_db       = "GRCh38.86"
    snpeff_cache    = null
   
   
}

process {
    withName: SNPEFF {
        container = 'snpeff:v4.3'
        publishDir = [ 
            path: "${params.outdir}/SNPeff/", 
            mode: params.publish_dir_mode 
        ]  
    }
}

docker.enabled=true