// DEFAULTS (temp)
params {

    cpus                = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory              = { check_max( 6.GB * task.attempt, 'memory' ) }
    time                = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy       = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries          = 1
    maxErrors           = '-1'

    publish_dir_mode    = "copy"
   
}

// WITH NAME
process {

    withName:FASTQC {

        container           = 'fastqc'
        publishDir          = [
            path: { "${params.outdir}/FastQC" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName:BWAINDEX {

        container           = 'bwa:latest'
        publishDir          = [
            path: { "${params.bwasam}" },
            mode: params.publish_dir_mode
        ]
    }
    
    withName:BWAMEM {

        container           = 'bwa:latest'
        publishDir          = [
            path: { "${params.bwa}}" },
            mode: params.publish_dir_mode
        ]
    }

    withName:BWAMEM_SAMTOOLS_SORT {

        container           = 'bwasam:latest'
        publishDir          = [
            path: {"${params.bwasam}"},
            mode: params.publish_dir_mode

        ]
    }
    
    withName:"^SAMTOOLS.*" {

        container           = 'samtools'
        publishDir          = [
            path: { "${params.outdir}/Samtools" },
            mode: params.publish_dir_mode

        ]
    }

    withName:MARKDUPLICATES {

        container           = 'gatk:latest'
        publishDir          = [
            path: { "${params.outdir}/MarkDuplicates" },
            mode: params.publish_dir_mode
        ]
    }
    withName:BASERECALIBRATOR {

        container           = 'gatk:latest'
        publishDir          = [
            path: { "${params.outdir}/BaseRecalibrator" },
            mode: params.publish_dir_mode
        ]
    }

      withName:APPLYBQSR {

        container           = 'gatk:latest'
        publishDir          = [
            path: { "${params.outdir}/BaseRecalibrator" },
            mode: params.publish_dir_mode
        ]
    }

    withName:QUALIMAP {

        help                = null
        output_format       = "html"
        publishDir          = [
            path: { "${params.outdir}/Qualimap" },
            mode: params.publish_dir_mode
        ]
    }

    withName:"MULTIQC*." {

        container           = 'multiqc:v1.11'
        publishDir          = [
            path: { "${params.outdir}/Reports/MultiQC" },
            mode: params.publish_dir_mode
        ]
    }
}

// WITH LABELS
process {

    withLabel: big_mem {
        cpus                = 16
        memory              = 64.GB
        queue               = 'long'
        max_time            = '240.h'
    }

    withLabel: med_mem {
        cpus                = 8
        memory              = 32.GB
        queue               = 'long'
        max_time            = '72.h'
    }

    withLabel: sml_mem {
        cpus                = 4
        memory              = 16.GB
        queue               = 'short'
        max_time            = '12.h'
    }

    withLabel: cus_mem {
        cpus                = 1
        memory              = 40.GB
    }
}
   

     