
params {
    baseTestDir     = "${baseDir}/../.."

    inpdir          = "$baseTestDir/results/TEST/Haplotyper/"
    outdir          = "$baseTestDir/results/TEST/Qualimap"
    output_format   = 'html'
    help            = false

    cpu             = 2
    mem             = 4
}

process {
    withLabel: "standard" {
        cpus = params.cpu
        memory = params.mem+'.GB'

    }
    withName: QUALIMAP { 
        container = 'qualimap:latest'
        publishDir = [
            path: { "${params.outdir}/individual_reports" },
            mode: 'copy'
        ]
    }
}

 