
params {
    // Testing FIFO
    
    rootDir             = "${baseDir}/../.."
    genome              = "GRCh38"
    publish_dir_mode    = "copy"
    vcf                 = "$rootDir/results/TEST/Haplotyper/*.vcf"
    outdir              = "$rootDir/results/TEST/VEP/"
   
}

process {
    withLabel: vep_module {
        container = 'vep:v99.2'
    }
}

docker.enabled=true