
params {
    // Testing FIFO
    rootDir             = "${baseDir}/../.."
    genome              = "GRCh38"
    publish_dir_mode    = "copy"
    vcf                 = "$rootDir/results/TEST/Haplotyper/*.vcf"
    outdir              = "$rootDir/results/TEST/"
}

process {
    withName: VEP* {
        container = 'vep:v99.2',
        publishDir = [ 
            path: "${params.outdir}/VEP/", 
            mode: params.publish_dir_mode 
        ]
    }
}

docker.enabled = true