baseTestDir        =  "${baseDir}/../.."

params {
    genome         =  "$baseTestDir/data/reference_genome/test.ref.ercc.fa"
}

process {
    
    withName: SAMTOOLS_FAI {
        container = 'samtools:latest' // docker is updated
        cpus = 2
        memory = 1.GB
        
        publishDir = [
            path: { "$baseTestDir/results/TEST/Samtools/" },
            mode: "copy"
        ]
    }
}