baseTestDir        =  "${baseDir}/../.."

params {
    fasta         =  "$baseTestDir/data/reference_genome/test.fa"
    bam           =  "$baseTestDir/results/TEST/Samtools/bam_sorted.aligned.bam"
    outdir        =  "$baseTestDir/results/TEST/Samtools/"
}

process {
    withName: SAMTOOLS_FAI {
        container = 'samtools:1.14'
        cpus = 2
        memory = 1.GB
        
        publishDir = [
            path: params.outdir,
            mode: "copy"
        ]
    }
    withName: SAMTOOLS_SORT_BAM {
        container = 'samtools:1.14'
        cpus = 2
        memory = 1.GB
        
        publishDir = [
            path:  params.outdir,
            mode: "copy"
        ]
    }
    withName: SAMTOOLS_REPORT {
        container = 'samtools:1.14'
        cpus = 2
        memory = 1.GB
        
        publishDir = [
            path:  params.outdir,
            mode: "copy"
        ]
    }
}